{{> header }}

<section class="mw7 center">
  <h2 class="ph3 ph0-l">{{ title }}</h2>

    {{#each archive}}
  <article class="pv4 bt b--black-10 ph3 ph0-l">
    <div class="flex flex-column flex-row-ns">
      <div class="w-100 w-60-ns pr3-ns order-2 order-1-ns">
    <h1 class="f3 mt0 lh-title"><a class="mid-gray link dim" href="/{{ path }}">{{ this.year }}</a></h1>
    </div>
    <ul class="list ph3 ph5-ns">
        <li class="dib mr1 mb2">topics:<li>
      {{#each data}}
      <li class="dib mr1 mb2">{{this.title}}</li>
      {{/each}}
    </ul>
    {{/each}}

{{> footer }}