{{> header }}

<section class="mw7 center">
  <h2 class="ph3 ph0-l">{{ title }}</h2>
  <div class="pv4 bt b--black-10 ph3 ph0-l flex flex-column">
<article class="cf bg-light-gray">
  <div class="fl w-50 tc">
    <h1>service times</h1>
    <p>sundays 10:25am<br/> 
		wednesdays 7:00pm</p>
  </div>
  <div class="fl w-50 tc">
	<h1>location</h1>
		<p>3339 wade hampton blvd<br/>
		taylors, sc<br/>
		(864)244-0207<br/>
		info@myffc.org</p>	
  </div>
</article>

<article class="cf w-100">
  <div class="fl w-100 pb0">
    <h2>Sunday Mornings</h2>
  </div>
  <div class="fl pt1">
		<ul class="pt0">
		<li><b>Nursery (babies 0-3)</b> - A warm staff of caregivers ministers the Word and prays over each baby. Available Sunday AM & Wednesday PM 15 minutes prior to services.
		<li><b>Preschool - Children ages 3</b> - kindergarten are dismissed after the worship ministry on Sunday mornings. Parents pick up in their class on the 1st floor. Children pray, sing, learn Bible stories, and enjoy snacks & crafts.
		<li><b>Planet Faith - Grades 1-5</b> - are dismissed after the worship ministry on Sunday mornings for music, fun, games and exciting Bible instruction on their level! A lesson review with activities & Bible study is sent with each child for family time enrichment.
		</ul>
  </div>
</article>

<article class="cf w-100">
  <div class="fl w-100 pb0">
    <h2>Wednesday Nights</h2>
  </div>
  <div class="fl pt1">
		<ul class="pt0">
		<li><b>Planet Praise Kid's Choir</b> - kids through grade 5
		<li><b>Encounter Youth</b> - grades 6-12
		<li><b>Adult Bible Study</b>
		</ul>
  </div>
</article>

</section>

{{> footer }}