{{> header }}

<section class="mw7 center">
  <h2 class="ph3 ph0-l">{{ title }}</h2>
  <div class="pv4 bt b--black-10 ph3 ph0-l flex flex-column">
<article class="cf bg-light-gray">
  <div class="fl w-50 tc">
    <h1>service times</h1>
    <p>sundays 10:25am<br/> 
		wednesdays 7:00pm</p>
  </div>
  <div class="fl w-50 tc">
	<h1>location</h1>
		<p>3339 wade hampton blvd<br/>
		taylors, sc<br/>
		(864)244-0207<br/>
		info@myffc.org</p>	
  </div>
</article>

<article class="cf w-100">
  <div class="fl w-100 pb0">
    <h2>Sunday Mornings</h2>
  </div>
  <div class="fl pt1">
		<ul class="pt0">
		<li><b>Nursery (babies 0-3)</b> - A warm staff of caregivers ministers the Word and prays over each baby. Available Sunday AM & Wednesday PM 15 minutes prior to services.
		<li><b>Preschool - Children ages 3</b> - kindergarten are dismissed after the worship ministry on Sunday mornings. Parents pick up in their class on the 1st floor. Children pray, sing, learn Bible stories, and enjoy snacks & crafts.
		<li><b>Planet Faith - Grades 1-5</b> - are dismissed after the worship ministry on Sunday mornings for music, fun, games and exciting Bible instruction on their level! A lesson review with activities & Bible study is sent with each child for family time enrichment.
		</ul>
  </div>
</article>

<article class="cf w-100">
  <div class="fl w-100 pb0">
    <h2>Wednesday Nights</h2>
  </div>
  <div class="fl pt1">
		<ul class="pt0">
		<li><b>Planet Praise Kid's Choir</b> - kids through grade 5
		<li><b>Encounter Youth</b> - grades 6-12
		<li><b>Adult Bible Study</b>
		</ul>
  </div>
</article>

<article class="cf w-100">
  <div class="fl w-100 pb0">
    <h2>Join Us!</h2>
  </div>
  <div class="fl pt1">
		<ul class="pt0">
            <li><b>Nursery</b> - A warm staff of caregivers ministers the Word and
    prays over each baby. Available Sunday AM & Wednesday PM 15 minutes
    prior to services.
            <li><b>Preschool</b> - Children ages 3 - kindergarten are dismissed after
    the worship ministry on Sunday mornings. Parents pick up in their
    class on the 1st floor. Children pray, sing, learn Bible stories,
    and enjoy snacks & crafts.
            <li><b>Planet Faith</b> - Grades 1-5 are dismissed after the worship
    ministry on Sunday mornings for music, fun, games and exciting Bible
    instruction on their level! A lesson review with activities & Bible
    study is sent with each child for family time enrichment.
            <li><b>Planet Praise Kid's Choir</b> - Choir meets every Wednesday night
    during the adult Bible study.
            <li><b>Encounter Youth</b> - Youth in grades 6-12 meet Wednesday evenings
    during the adult Bible study. Refer to announcements for information
    on fun outings and social events.
            <li><b>Wednesday Evening Bible Study</b> - Adults meet in the Fellowship
    Hall in the rear of building. Enjoy this casual time of coffee
    and fellowship. Questions welcome. Use Side Entrance (adjacent to
    Fire Station).
            <li><b>Communion</b> - Served the 1st Sunday of the month, children
    grades 1+ attend the adult service with parents this one day of
    each month.
            <li><b>Men's & Ladies' Fellowships</b> - refer to calendar and weekly
    announcements for fellowships.
            <li><b>Music Opportunities</b> - see worship leader for opportunities for
    both choir and instrumental music opportunities.
            <li><b>Prayer</b> - Weekly prayer services are the powerhouse of the
    church! Inquire for dates and times.
            <li><b>Handicap Entrance</b> - is located on the right side when facing
    the building. See a greeter at the front entrance to request
    additional assistance.
            <li><b>Mothering Room</b> - Available for nursing mothers. Please see a
    greeter for assistance.
            <li><b>Breakfast</b> - Join us for breakfast every Sunday at 10:25. Coffee & pastries always available.
            <li><b>Membership</b> - We welcome you to make FFC your family & home.
    Request a membership application from one of the pastoral team.
            <li><b>Baby Dedication</b> - Please see a member of the pastoral team to
    request having your baby or child dedicated to the Lord.
            <li><b>Baptism</b> - Please see a member of the pastoral team to request
    being baptized in water.
            <li><b>Service</b> - Once you have become a member, we encourage you to
    take root and find a place to serve.
            </ul>
<i>FFC offers many opportunities to share your gifts, talents and
    abilities with the Body of Christ.</i>

</section>

{{> footer }}