{{> header }}

<section class="mw7 center">
  <h2 class="ph3 ph0-l">{{ title }}</h2>
  <div class="pv4 bt b--black-10 ph3 ph0-l flex flex-column">
<article class="cf bg-near-white ">
  <div class="fl w-50 tc">
    <h1>service times</h1>
    <p>sundays 10:25am<br/> 
		wednesdays 7:00pm<br/>
		<br/>
		</p>
  </div>
  <div class="fl w-50 tc">
	<h1>location</h1>
		<p>3339 wade hampton blvd<br/>
		taylors, sc<br/>
		(864)244-0207<br/>
		info@myffc.org</p>	
  </div>
</article>
<article class="cf">
  <div class="fl w-50 tc">
		<h2>BUNKO! Ladies Meeting</h2>
	</div>
  <div class="fl w-50 tc">
		<p>Thursday, Aug 2, 2018<br/>
		6:30pm</p>
	</div>
</article>
<!--
<article class="cf">
  <div class="fl w-50 tc">
		<h2>Easter Service</h2>
	</div>
  <div class="fl w-50 tc">
		<p>Sunday, April 1, 2018<br/>
		10:25am</p>
	</div>
</article>
-->
</div>
</section>

{{> footer }}
