{{> header }}

<section class="mw7 center">
  <h2 class="ph3 ph0-l">{{ title }}</h2>
  <div class="pv4 bt b--black-10 ph3 flex flex-column">

<section class="cf">
  <div class="fl w-100 w-33-l tc link dim br1 ph3 pv2 mb2 dib white bg-green ttu">Got a question for us?</div>
  <div class="fl w-100 w-33-l tc link dim br1 ph3 pv2 mb2 dib white bg-green ttu">A prayer request?</div>
  <div class="fl w-100 w-33-l tc link dim br1 ph3 pv2 mb2 dib white bg-green ttu">Need to talk to someone?</div>
</section>
<section class="cf">
  <div class="fl w-100 w-33-l tc link dim br1 ph3 pv2 mb2 dib white bg-green ttu">I just accepted Jesus</div>
  <div class="fl w-100 w-33-l tc link dim br1 ph3 pv2 mb2 dib white bg-green ttu">I need prayer</div>
  <div class="fl w-100 w-33-l tc link dim br1 ph3 pv2 mb2 dib white bg-green ttu">I want to share my story</div>
</section>
<section class="cf">
  <div class="fl w-100 w-33-l tc link dim br1 ph3 pv2 mb2 dib white bg-green ttu">I'd likt to be baptized</div>
  <div class="fl w-100 w-33-l tc link dim br1 ph3 pv2 mb2 dib white bg-green ttu">I'm new to Faith Family</div>
  <div class="fl w-100 w-33-l tc link dim br1 ph3 pv2 mb2 dib white bg-green ttu">I have a question about giving</div>
</section>
<section>
<div class="dt-ns dt--fixed-ns">
  <div class="dtc-ns tc pv1">
    <article class="mw5 center bg-white br3 pa3 pa1-ns mv3 ba b--black-10">
      <div class="tc"><a class="no-underline black-80 b--black-10" href="tel:8642440207">
        <svg id="user" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor">
          <path d="M10 8 A6 6 0 0 1 22 8 L22 12 A6 6 0 0 1 10 12 z M2 26 C3 23 10 20 14 20 L18 20 C22 20 29 23 30 26 L30 28 L2 28 z"></path>
        </svg>
        <h1 class="f5 mb2">(864)244-0207</h1>
        </a>
      </div>
    </article>
  </div>
  <div class="dtc-ns tc pv1">
    <article class="mw5 center bg-white br3 pa3 pa1-ns mv3 ba b--black-10">
      <div class="tc"><a class="no-underline black-80 b--black-10" href="http://maps.google.com/?q=3339 Wade Hampton Blvd, Taylors, SC, 29687" target="_blank">

        <svg id="pin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor">
  <path d="M4 12 A12 12 0 0 1 28 12 C28 20, 16 32, 16 32 C16 32, 4 20 4 12 M11 12 A5 5 0 0 0 21 12 A5 5 0 0 0 11 12 Z"></path>
</svg>
        <h1 class="f5 mb2">Faith Family Church</h1>
        <h2 class="f6 mb2">3339 Wade Hampton Blvd</h2>
        <h2 class="f6 mb2">Taylors, SC 29687</h2>
        </a>
      </div>
    </article>
  </div>
  <div class="dtc-ns tc pv1">
    <article class="mw5 center bg-white br3 pa3 pa1-ns mv3 ba b--black-10">
      <div class="tc"><a class="no-underline black-80 b--black-10" href="mailto:info@myffc.org">
        <svg id="mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor">
          <path d="M0 6 L16 16 L32 6 z M0 9 L0 26 L32 26 L32 9 L16 19 z"></path>
        </svg>
        <h1 class="f5 mb2">info@myffc.org</h1>
        </a>
      </div>
    </article>
  </div>
</div>
</section>

  </div>
</section>

{{> footer }}
