<!DOCTYPE html>
<html>
  <head>
	  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119200705-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119200705-1');
</script>

    <meta charset="utf-8">
    <title>{{#if title }}{ {title }} - {{/if}}{{ site.name }}</title>
    <meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/ico" href="/assets/images/favicon.ico">
	  <link rel="stylesheet" href="/assets/css/tachyons.min.css"/>
    <link rel="stylesheet" href="/assets/css/myffc.css">
<!--    <link rel="stylesheet" href="/assets/css/fa.min.css"> -->
  </head>
  <body class="avenir">

<header class="ttu">
  <div class="cover bg-left bg-center-l" style="background-image: url(/assets/images/worship.jpg)">
    <div class="bg-black-40 pb5 pb6-m pb7-l">

      <nav class="db dt-l w-100 mw8 center border-box pa3 ph5-l">
        <a class="db dtc-l v-mid white link dim w-100 w-25-l tc tl-l mb2 mb0-l b" href="/" title="Home">Faith Family Church</a>
          
        <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
          <div id="welcome" class="dropdown f6 f5-l dib mr3 mr4-l">
            <a class="droplink link dim white-90" href="#" title="Home">Welcome</a>
            <div class="dropdown-content">
              <a class="" href="/pages/calendar/">Calendar</a>
              <a class="" href="/pages/attend/">Attend a Service</a>
              <a class="" href="/pages/prayer_bears/">Prayer Bears</a>
              <a class="" href="/pages/get_in_touch/">Get in Touch</a>
              <a class="" href="/pages/give/">Give</a>
            </div>
          </div>
          <a class="link dim white-90 f6 f5-l dib mr3 mr4-l" href="/sermons/" title="Listen Online">Listen</a>
          <a class="f6 link dim br1 ph3 pv2 mb2 dib white bg-green ttu" href="/pages/im_new/" title="New Here?">I'm New</a>
	      <a class="link dim white-90 f6 f5-l dib ml3 ml4-l" href="/pages/give" title="Give Online">Give</a>
        </div>
      </nav>

      <div class="tc mt4 mt5-m mt6-l ph3">
        <h2 class="fw1 f4 white-80 ttu mt3 mb1 b">there is no place like</h2>
        <h1 class="f1 f1-l fw2 b white-90 ttu tracked-mega mt0 mb3 lh-title">Faith Family</h1>
        <a class="f6 no-underline grow dib v-mid white ba br1 b--white ph3 pv2 mb3 hover-bg-green" href="/pages/im_new/">I'm New</a>
        <a class="f6 no-underline grow dib v-mid white ba br1 b--white ph3 pv2 mb3 hover-bg-green" href="/pages/calendar/">Calendar</a>
      </div>
	  
	  
    </div>

  </div> 
</header>

<div class="cf">
    <!--  <div class="fl v-mid w-100 w-50-m w-25-l bg-black-01 tc pv4-l">
  <a class="no-underline black-80 b--black-10" href="/pages/give">
    <article class="mw5 center bg-green br1 pa3 pa1-ns mv3 ba b--black-10">
        <h1 class="f5 mb2"><span class="white">Click Here<br/>To give in honor of Roger Brewer</span></h1>
    </article>
  </a>
</div> -->
  <div class="fl w-50 w-25-ns">
    <article class="mw5 center bg-white br1 pa3 pa1-ns mv3 ba b--black-10">
      <div class="tc"> 
        <svg id="clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor">
          <path d="M16 0 A16 16 0 0 0 0 16 A16 16 0 0 0 16 32 A16 16 0 0 0 32 16 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 28 16 A12 12 0 0 1 16 28 A12 12 0 0 1 4 16 A12 12 0 0 1 16 4 M14 6 L14 17.25 L22 22 L24.25 18.5 L18 14.75 L18 6z"></path>
        </svg>
        <h1 class="f5 mb1">Service Times:</h1>Sundays @ 10:25am<br/>Wednesday @ 7:00pm<br/><br/>
      </div>
    </article>
  </div>
  <div class="fl w-50 w-25-ns">
    <article class="mw5 center bg-white br1 pa3 pa1-ns mv3 ba b--black-10">
      <a class="no-underline dim black-80 b--black-10" href="tel:8642440207"><div class="tc">      
        <svg id="user" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor">
          <path d="M10 8 A6 6 0 0 1 22 8 L22 12 A6 6 0 0 1 10 12 z M2 26 C3 23 10 20 14 20 L18 20 C22 20 29 23 30 26 L30 28 L2 28 z"></path>
        </svg>
        <h1 class="f5 mb2">(864)244-0207</h1><br/><br/><br/>
      
      </div></a>
    </article>
  </div>
  <div class="fl w-50 w-25-ns">
    <article class="mw5 center bg-white br1 pa3 pa1-ns mv3 ba b--black-10">
        <a class="no-underline dim black-80 b--black-10" href="http://maps.google.com/?q=3339 Wade Hampton Blvd, Taylors, SC, 29687" target="_blank">
      <div class="tc">
          <svg id="pin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor">
  <path d="M4 12 A12 12 0 0 1 28 12 C28 20, 16 32, 16 32 C16 32, 4 20 4 12 M11 12 A5 5 0 0 0 21 12 A5 5 0 0 0 11 12 Z"></path>
</svg>
          <h1 class="f5 mb2">Faith Family Church</h1>
          <h2 class="f6 mb2">3339 Wade Hampton Blvd</h2>
          <h2 class="f6 mb2">Taylors, SC 29687</h2>
      </div>
        </a>
    </article>
  </div>
  <div class="fl w-50 w-25-ns">
    <article class="mw5 center bg-white br1 pa3 pa1-ns mv3 ba b--black-10">
      <a class="no-underline dim black-80 b--black-10" href="mailto:info@myffc.org"><div class="tc">      

        <svg id="mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor">
          <path d="M0 6 L16 16 L32 6 z M0 9 L0 26 L32 26 L32 9 L16 19 z"></path>
        </svg>
        <h1 class="f5 mb2">info@myffc.org</h1><br/><br/><br/>
        
      </div></a>
    </article>
  </div>
</div>
    
      
<div class="tc ph4">
  <h1 class="f4 f3-m f2-l fw2 black-90 mv3">
    Welcome Home!
  </h1>
  <h2 class="f6 f5-m f4-l fw2 black-70 mt0 mb1 lh-copy">
            <p>We hope when you walk through the doors you will immediately recognize that you are among friends: a diverse, wonderful group of people who love Jesus and who are committed to helping you discover yourself in the light of the Word of God. 
            We have been praying for you, and no matter your background or life experience, you will find a place where you are warmly welcomed and feel right at home!</p>
            <p>Every weekend we gather for worship and teaching on <strong class="b">Sundays at 10:25am</strong>. There are services and classes for your kids during our worship experience on the weekend and <strong class="b">Wednesday evenings at 7:00pm</strong>.</p>
  </h2>
    <a class="f6 link dim br1 ph3 pv2 mt0 mb2 dib white bg-green ttu" href="/pages/im_new/" title="New Here?">I'm New</a>
</div>
      
<div class="tc pv3 ph3 bg-light-green">
  <h1 class="f4 f3-m f2-l fw2 black-90 mv3 mt1 mb0">
    Recent Sermons:
  </h1>
<div class="dt-ns dt--fixed-ns">
{{#each collections.latestPosts}}
  <a class="no-underline" href="/{{ path }}">
  <div class="f6 no-underline grow dib v-mid black ba br1 b--black ph5 pv2 mb3 hover-bg-green">
  <svg id="musicNote" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor">
  <path d="M0 24 A6 6 0 0 0 12 24 V8 H26 V18 A6 6 0 0 0 18 24 A6 6 0 0 0 30 24 V2 H8 V18 A6 6 0 0 0 0 24"></path>
</svg>
    <h3>{{ title }}</h3>
  </div>
  </a>
{{/each}}
</div></div>
{{> footer }}
