{{> header }}

<section class="mw7 center">
  <h2 class="ph3 ph0-l">{{ title }}</h2>
  <div class="pv4 bt b--black-10 ph3 flex flex-column">

<p>Prayer Bears is a ministry of FFC to bring hope, help and healing to the sick. We join in faith with families in dire need, trusting God to give them peace and encouragement through difficult times, as well as believing God to work a complete healing in their lives.</p>
<p>We regularly receive testimonies that God is working mightily in the lives of many precious children and adults. We have witnessed the healing, miracle-working power of God and know it to be real and effective. We ask God to give wisdom to doctors and nurses to accurately administer the best medical science has to offer, and furthermore, that God will work mightily to make up the difference to provide a healing and a cure.</p>
<p>Click here to learn more about the transferrable, healing anointing.</p>
<p><a href="mailto:prayerbears@myffc.org?Subject=Prayer Bear Partner" class="f6 f4-ns b db pa2 link dim dark-gray ba b--black-20 w-50">Request a prayer partner</a></p>
<p><a href="mailto:prayerbears@myffc.org?Subject=Prayer Bear Request" class="f6 f4-ns b db pa2 link dim dark-gray ba b--black-20 w-50">Share a praise report or prayer request</a></p>


  </div>
</section>

{{> footer }}
