{% extends "base.html" %}

{% block content %}

			<!-- Main -->
				<article id="main">

					<header class="container">
						<h2>{{ page.title }}</h2>
						<p>{{ page.subcontent }}</p>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content">
									<section>
										<!--<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a> -->
										<p>{{ page.content }}</p>
									</section>
								</div>

						</section>

				</article>
				
{% include "cta.html" %}

{% endblock content %}